@import '../main.css';

.banner {
  width: 100%;
  min-height: 50vh;
  padding-bottom: 5rem;
  background-image: url('/bg-banner.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-banner);
}

.banner-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner-view__title {
  padding-top: 20vh;
  padding-bottom: 3rem;
  width: 50%;
  font-size: 4rem;
  font-weight: 800;
  line-height: 120%;
  text-shadow: 1px 1px 10px #000000;
}

.banner-view__description {
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 110%;
  text-shadow: 1px 1px 10px #000000;
}

.banner-view__link {
  position: relative;
  border-radius: 0.4rem;
  background: var(--green);
  padding: 0.5rem 4.5rem 0.5rem 2.5rem;
  transition: 0.3s;
}

.banner-view__link:after {
  position: absolute;
  content: '\2192';
  right: 2rem;
  color: inherit;
}

@media (hover: hover) {
  .banner-view__link:hover {
    cursor: pointer;
    background-color: var(--green-hover);
  }
}

.banner-view__link:active {
  scale: calc(1.05);
}

@media (max-width: 560px) {
  .banner-view__title {
    width: 100%;
    padding-top: 15vh;
    text-align: center;
    font-size: 3.5rem;
  }
}

@media (max-width: 400px) {
  .banner-view__title {
    font-size: 3rem;
  }
}
