@import '../main.css';

.gallery {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.gallery::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg-gallery.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.gallery__container {
  position: relative;
  z-index: 1;
}

.gallery__container__title {
  padding: var(--section-padding);
  text-align: center;
  font-size: var(--fz-h3-h4);
  font-weight: 600;
  line-height: 130%;
  color: #ffffff;
}

.gallery__container__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.gallery__container__list__item {
  margin-bottom: 1rem;
  max-width: 32%;
  transition: 0.3s;
}

.gallery__container__list__item:hover {
  scale: 1.1;
  z-index: 2;
}

@media (max-width: 860px) {
  .gallery__container__list__item {
    max-width: 40%;
  }
}
