@import '../main.css';

.gift {
  background-image: url('/bg-gift.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.gift__container {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gift__container__title {
  text-align: center;
  font-size: var(--fz-h3-h4);
  font-weight: 700;
  line-height: 130%;
}

.gift__container__description {
  margin-top: 1rem;
  color: var(--green);
  text-align: center;
}

.gift__container__cart {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.gift__container__cart__info {
  max-width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  font-size: 1rem;
  font-weight: 300;
  line-height: 130%;
}

.gift__container__cart__info > p {
  margin-bottom: 3rem;
}

.gift__container__cart__info > button {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  color: var(--green);
  font-weight: 600;
  border: 1px solid var(--green);
  border-radius: 0.4rem;
  transition: 0.3s;
}

@media (hover: hover) {
  .gift__container__cart__info > button:hover {
    cursor: pointer;
    background-color: var(--green);
    color: #ffffff;
  }
}

.gift__container__cart__info > button:active {
  transform: scale(1.05);
  background-color: var(--green-hover);
  color: #ffffff;
}

.gift__container__cart__image {
  position: relative;
  max-width: 49%;
  overflow: hidden;
  border-radius: 1rem;
}

.gift__container__cart__image__description {
  position: absolute;
  color: #ffffff;
  left: 2.5rem;
  bottom: 2rem;
  font-size: 1rem;
  font-weight: 200;
  line-height: 130%;
}

@media (max-width: 1000px) {
  .gift__container__cart__image__description {
    left: 2rem;
    bottom: 1.5rem;
  }
}

@media (max-width: 560px) {
  .gift__container__cart {
    flex-direction: column-reverse;
  }
  .gift__container__cart__image {
    max-width: 100%;
  }
  .gift__container__cart__image__description {
    left: 1rem;
    bottom: 1rem;
  }
  .gift__container__cart__info {
    max-width: 90%;
  }
}
