@import '../main.css';

.header {
  position: absolute;
  width: 100vw;
  color: var(--text-banner);
  background-color: var(--bg-grey);
  padding: 0.5rem 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 5rem;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.contact-box > a {
  margin-left: 1rem;
  position: relative;
}

.contact-box > a::after {
  position: absolute;
  content: '\260E';
  left: -1.5rem;
}

.contact-box > a:hover {
  color: var(--green-hover);
  cursor: pointer;
}

.contact-box > .button {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 0.4rem;
  background-color: var(--grey);
  transition: 0.3s;
}

.contact-box > .button:hover {
  background-color: var(--green-hover);
  cursor: pointer;
}

.contact-box > .button:active {
  transform: scale(1.05);
}
