@import '../main.css';

.offer {
  width: 100vw;
}

.offer__list {
  padding: var(--section-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.offer__list__item {
  align-self: baseline;
  max-width: 23%;
}
.offer__list__item > img {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.offer__list__item > span {
  position: relative;
}
.offer__list__item > span::after {
  position: absolute;
  content: ' ';
  bottom: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--green);
  z-index: 0;
}
.offer__list__item > h4 {
  margin-top: 1rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.offer__list__item > p {
  margin-top: 1rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
