@import '../main.css';

.ourperson__container {
  padding: var(--section-padding);
}

.ourperson__container__title {
  margin-top: 1rem;
  text-align: center;
  font-size: var(--fz-h3-h4);
  font-weight: 700;
}

.ourperson__container__list {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.ourperson__container__list__item {
  max-width: 23%;
  overflow: hidden;
  border-radius: 0.5rem;
}

.ourperson__container__list__item__avatar {
  transition: 0.3s;
}

.ourperson__container__list__item__info {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--bg-avatar);
  text-align: left;
  transition: 0.3s;
  border-radius: 0 0 0.5rem 0.5rem;
}

.ourperson__container__list__item:hover > .ourperson__container__list__item__info {
  position: relative;
  opacity: 0.8;
  transform: translateY(-15%);
}

.ourperson__container__list__item:hover > .ourperson__container__list__item__avatar {
  scale: 1.1;
}

.ourperson__container__list__item__info__title {
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 130%;
}

.ourperson__container__list__item__info__description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 130%;
}
