@import '../main.css';

.routes {
  position: relative;
}

.routes::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg-routes.webp');
  opacity: 0.5;
}

.routes__container {
  position: relative;
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.routes__container__title {
  font-size: var(--fz-h3-h4);
  font-weight: 700;
  line-height: 130%;
}

.routes__container__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.routes__container__list__item {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  transition: 0.3s;
}

@media (hover: hover) {
  .routes__container__list__item:hover {
    transform: translateY(-2%);
    background-color: #f4f4f4;
    box-shadow: 3px 3px 7px grey;
  }
}

.routes__container__list__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.routes__container__list__item__info {
  width: 49%;
  padding-right: 1rem;
}

.routes__container__list__item:nth-child(2n) > .routes__container__list__item__info {
  padding-left: 1rem;
  text-align: end;
}

.routes__container__list__item__info > h4 {
  margin-bottom: 0.5rem;
  font-size: var(--fz-h3-h4);
  font-weight: 500;
  line-height: 110%;
}

.routes__container__list__item__info > p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.routes__container__list__item__info__description {
  margin-bottom: 2rem;
  font-weight: 300;
}

.routes__container__list__item__info__description > p {
  line-height: 130%;
}

.routes__container__list__item__info__description > p > span {
  padding-left: 0.5rem;
  font-weight: 600;
}

.routes__container__list__item__info__route {
  margin-bottom: 3rem;
}

.routes__container__list__item__info__route > h6 {
  line-height: 130%;
  font-weight: 600;
}

.routes__container__list__item__info__route > p {
  font-weight: 300;
}

.routes__container__list__item__info > button {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  background: var(--green);
  color: #ffffff;
  border-radius: 0.4rem;
  transition: 0.3s;
}
@media (hover: hover) {
  .routes__container__list__item__info > button:hover {
    cursor: pointer;
    background-color: var(--green-hover);
  }
}

.routes__container__list__item__info > button:active {
  scale: calc(1.05);
}

.routes__container__list__item__images {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routes__container__list__item__images > img {
  width: 47%;
  object-fit: fill;
}

@media (max-width: 560px) {
  .routes__container__list__item {
    padding: 0.5rem;
  }
  .routes__container__list__item__images {
    display: none;
  }
  .routes__container__list__item__info {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
