@import '../main.css';

.sales__container {
  padding: var(--section-padding);
}

.sales__container__title {
  text-align: center;
  font-size: var(--fz-h3-h4);
  font-weight: 700;
}

.sales__container__list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}

.sales__container__list__item {
  width: 49%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.sales__container__list__item > div {
  max-width: 50%;
  overflow: hidden;
}

.sales__container__list__item__avatar {
  transition: 0.3s;
}

.sales__container__list__item__info > .button {
  transition: 0.3s;
}

.sales__container__list__item__info {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  background-color: var(--bg-avatar);
}

.sales__container__list__item__info__title {
  padding-top: 1.5rem;
  color: var(--green);
  font-size: var(--fz-h3-h4);
  font-weight: 700;
  line-height: 130%;
}

.sales__container__list__item__info__description {
  max-width: 70%;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 130%;
}

.sales__container__list__item__info > button {
  margin-top: 1rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 0.4rem;
  transition: 0.3s;
}

@media (hover: hover) {
  .sales__container__list__item__info > .button:hover {
    background-color: var(--green);
    color: #ffffff;
  }
  .sales__container__list__item:hover > div > .sales__container__list__item__avatar {
    scale: 1.15;
  }
  .sales__container__list__item__info > button:hover {
    cursor: grab;
  }
}

.sales__container__list__item__info > button:active {
  transform: scale(1.05);
  background-color: var(--green-hover);
  color: #ffffff;
  cursor: grabbing;
}
