@import '../main.css';

.yandex-map {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 860px) {
    .yandex-map {
        width: 100%;
    }
}

.yandex-map > div {
    position: relative;
    overflow: hidden;
}

.yandex-map > div > a {
    position: absolute;
    top: 0px;
    font-size: 1rem;
    color: #000000;
}

.yandex-map > div > a:first-child {
    top: 14px;
}

.yandex-map > iframe {
    position: relative;
}